.main-weather{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
}

.current-weather{
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.weather{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "location date"
                         "temperature time"
                         "temperature items"
                         "summary items";
    align-items: center;
    justify-content: center;
}

.weather__clock{
    grid-area: time;
    /* margin-bottom: 3rem; */
}
.weather__date::first-letter{
    text-transform: capitalize;
}
.weather-info{
    grid-area: items;
}
.weather-info__item{
    margin: 0.5rem 0;
}

.weather__error{
    width: 100%;
    text-align: center;
    color: white;
}
.weather__description{
    grid-column: 1;
    grid-row: 4;
    grid-area: summary;
    font-size: 1.4rem;
    color: #666;
}
.weather__temperature{
    color: #666;
    font-size: 5rem;
    grid-area: temperature;
}

@media(max-width: 900px){
    .current-weather{
        margin: 0;
        width: 90%;
        max-width: 500px;
    }
    .weather{
        justify-items: center;
        height: auto;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "location date"
                            "time time"
                            "temperature temperature"
                            "summary summary"
                            "items items"
    }
    .main-weather{
        flex-flow: column;
    }
    .weather__date{
        font-size: 0.8rem;
        min-width: 100px;
    }
    .weather__location{
        font-size: 0.8rem;
    }
    .weather__temperature{
        text-align: center;
        margin-top: 1rem;
    }

}