.search{
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    right:1rem;
}
.search-btn{
    display: none;
}
.search__error{
    transition: opacity, 300ms;
    opacity: 0;
    font-size: 0.8rem;
    color: black;
    position: absolute;
    right: 105%;
    top: -1rem;
    width: 300px;
}
.full-opacity{
    opacity: 1;
}
.search__input{
    padding: 0.5rem;
}
.search__btn{
    padding: 0.5rem;
}   

@media(max-width: 900px){
    .search-container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .search{
        position: static;
        transform: translate(0, 0);
    }
    
    .search.hidden-mobile{
        display: none;
    }
}
@media(max-width: 700px){
    .search__error{
        font-size: 0.8rem;
        color: black;
        position: absolute;
        top: -8rem;
        width: 300px;
        right: 0;
    }
}