.search{
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    right:1rem;
}
.search-btn{
    display: none;
}

@media(max-width: 900px){
    .search-container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .search{
        position: static;
        transform: translate(0, 0);
    }
    .search__input{
        padding: 0.5rem;
    }
    .search__btn{
        padding: 0.5rem;
    }
    .search.hidden-mobile{
        display: none;
    }
}